.formWrap {
    .socialSignIn {
        margin: 0.5rem auto 0;
    }

    .forgotPassword {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .forgotPasswordText {
            font-size: 15px;
            font-weight: 500;
            color: black;
        }
    }
}
