.products{
    display: block;

    .productsWrap{
        padding: 20px 60px;

        .productResult{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
        }
    }

    

    
}
